@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        @apply font-sans;
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
    to right,
    rgba(56, 5, 63, 0.8),
    hsla(66, 76%, 25%, 0.8)
    )!important;
}